  <%= render 'navbar' %>
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Body weight platform</h1>
      <div class="sign-in-up-form">
        <%= render 'form' %> 
      </div>
    </div>
  </div>
</div>

