// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sign-in-up-form {
	display: flex;
	justify-content: center;
	form {
		width: 30%;
		div {
			width: 100%;
			margin-bottom: 5%;
			span {
				display: flex;
				justify-content: center;
				.form-control {
					width: 50%;
				}
			}
		}
	}
}


